@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: rgb(203, 240, 243);
  font-family: 'Spartan', sans-serif;
}

.backgroundImage {
  @apply z-0 fixed top-0 left-0 h-full w-auto bg-contain md:bg-cover;
}

.mainContainer {
  @apply h-full w-full border-4 border-blue-300 border-opacity-20 rounded-xl border-b-0 bg-black bg-opacity-90 z-10 flex fixed top-0 overflow-auto;
}

.navItem {
  @apply pr-5 pl-5 pt-3 opacity-60 hover:opacity-100 transform hover:scale-125;
}

.singleProject {
  @apply bg-gray-900;
}

h1,
h2,
h3 {
  @apply font-bold;
}

label {
  @apply text-xl font-bold;
}

.typewriter h1 {
  overflow: hidden;
  border-right: 0.1em solid rgb(87, 108, 151);
  white-space: nowrap;
  margin: 0 auto;
  text-spacing: 0.1em;
  animation: typing 2.5s steps(25, end), blink-caret 0.85s step-end infinite;
}

@keyframes typing {
  from {
    @apply w-0;
  }
  to {
    @apply w-full;
  }
}

@keyframes blink-caret {
  from,
  to {
    @apply border-transparent;
  }
  50% {
    @apply border-blue-300 border-opacity-30;
  }
}
