@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: rgb(203, 240, 243);
  font-family: 'Spartan', sans-serif;
}

.mainContainer {
  @apply flex flex-col h-screen w-full border-4 border-blue-300 border-opacity-20 rounded-xl border-b-0 bg-black bg-opacity-90 relative top-0 overflow-scroll;
}

.navItem {
  @apply pr-5 pl-5 pt-3 opacity-60 hover:opacity-100 transform hover:scale-125;
}

.navItem .toolTip {
  @apply invisible bg-black text-white text-left text-sm absolute z-10 pt-2;
}

.navItem:hover .toolTip {
  @apply visible;
}

h1,
h2,
h3 {
  @apply font-extrabold lg:font-bold;
}

label {
  @apply text-lg font-bold mt-4 mb-2;
}

p {
  @apply mt-2 mb-6;
}

a {
  @apply hover:text-pink-400;
}

.typewriter h1 {
  overflow: hidden;
  border-right: 0.1em solid rgb(87, 108, 151);
  white-space: nowrap;
  margin: 0 auto;
  text-spacing: 0.1em;
  animation: typing 2.5s steps(25, end), blink-caret 0.85s step-end infinite;
}

@keyframes typing {
  from {
    @apply w-0;
  }
  to {
    @apply w-full;
  }
}

@keyframes blink-caret {
  from,
  to {
    @apply border-transparent;
  }
  50% {
    @apply border-blue-300 border-opacity-30;
  }
}

.techLogos {
  @apply max-h-12 lg:max-h-20 hover:opacity-50 transform hover:scale-110;
}
