@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: rgb(255, 245, 187);
  font-family: 'Spartan', sans-serif;
}

.backgroundImage {
  position: sticky;
  top: 0;
  left: 0;
  z-index: -1;
}

.mainContainer {
  height: 100vh;
  width: 98vw;
  border: 2px solid rgb(255, 245, 187);
  border-radius: 1em 1em 0 0;
  border-bottom: none;
  background-color: rgba(22, 9, 20, 0.85);
  z-index: 1;
  display: flex;
  margin-top: 1%;
  margin-left: 1%;
  position: fixed;
  top: 0;
  overflow: auto;
}

.navItem {
  @apply pr-5 pl-5 pt-3 h-20;
}
